body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  cursor: url(./images/baseball_cursor_65x65.png), auto;
}

img {
  width: 100%;
}

#screen {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100%;
  aspect-ratio: 16 / 9;
  width: 100%;
}

#game {
  grid-area: 1 / 1;
  overflow: hidden;
  display: grid;
  grid-template-columns: 10% / 10%;
  grid-template-rows: 100%;
}

#game_background {
  grid-area: 1 / 1;
  background-image: url(images/background.png);
  background-size: cover;
}
#game_elements {
  grid-area: 1 / 1;
  position: relative;
  overflow: hidden;
}

/* Game elements (ID's) */

#pitcher_1_container {
  width: 7%;
  position: absolute;
  translate: 300% 90%;
}
#pitcher_2_container {
  width: 7%;
  position: absolute;
  translate: 500% 80%;
}
#pitcher_3_container {
  width: 7%;
  position: absolute;
  translate: 700% 70%;
}
#pitcher_4_container {
  width: 7%;
  position: absolute;
  translate: 900% 80%;
}
#pitcher_5_container {
  width: 7%;
  position: absolute;
  translate: 1100% 90%;
}

#egg_container {
  width: 4%;
  position: absolute;
}

#egg_splat_sprite {
  scale: 0;
  position: absolute;
  top: 0;
  left: 0;
}

#toilet_paper_1_container {
  width: 4%;
  position: absolute;
}

#toilet_paper_1_splat_sprite {
  scale: 0;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
}

#toilet_paper_2_container {
  width: 4%;
  position: absolute;
}

#toilet_paper_2_splat_sprite {
  scale: 0;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
}

#tomato_1_container {
  width: 4%;
  position: absolute;
}

#tomato_1_splat_sprite {
  scale: 0;
  position: absolute;
  top: 0;
  left: 0;
}

#tomato_2_container {
  width: 4%;
  position: absolute;
}

#tomato_2_splat_sprite {
  scale: 0;
  position: absolute;
  top: 0;
  left: 0;
}

#baseball_1_container {
  width: 4%;
  position: absolute;
}

#baseball_2_container {
  width: 4%;
  position: absolute;
}

#baseball_3_container {
  width: 4%;
  position: absolute;
}

#game_foreground {
  grid-area: 1 / 1;
  /* background-image: url(svg/forgrund.svg); */
  background-size: cover;
  position: relative;
  overflow: hidden;
}

#game_ui {
  grid-area: 1 / 1;
  position: relative;
}

/* ui-elementer */
#time_board {
  width: 7%;
  position: absolute;
  top: 0%;
  left: 4%;
}
#score_board {
  width: 23%;
  position: absolute;
  top: 69%;
  left: 11%;
}
#heart_1 {
  width: 4%;
  position: absolute;
  top: 0%;
  left: 80%;
}

#heart_2 {
  width: 4%;
  position: absolute;
  top: 0%;
  left: 85%;
}

#heart_3 {
  width: 4%;
  position: absolute;
  top: 0%;
  left: 90%;
}

/* -------------------------------------- Animationer ---------------------------------- */

.pitcher1_straight {
  animation-name: pitcher1_straight;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes pitcher1_straight {
  0% {
    transform: translate(500%, 200%);
  }

  100% {
    transform: translate(1000%, 1400%) scale(3);
  }
}

@keyframes move {
  0% {
    transform: translateX(0) translateY(-100px) rotate(0deg);
  }
  50% {
    transform: translateX(200px) translateY(100px) rotate(90deg);
  }
  100% {
    transform: translateX(400px) translateY(-100px) rotate(180deg);
  }
}

.pitcher1_straight {
  animation: move 2s cubic-bezier(0.25, 0.1, 0.25, 1);
  border-radius: 100px;
}
/* 
.pitcher1_left {
animation-name: pitcher1_left;
animation-duration: 3s;
animation-timing-function: linear;
animation-iteration-count: infinite;
transform-origin: -10% 50%;
}

@keyframes pitcher1_left {
0% {
transform: translate(500%, 200%);
}

25% {
transform: translate(300%, 500%) rotate(-90deg) scale(1.5);
}

50% {
transform: translate(400%, 800%) rotate(-240deg) scale(2);
}

75% {
transform: translate(650%, 1100%) rotate(-340deg) scale(2.5);
}

100% {
transform: translate(1000%, 1400%) rotate(-390deg) scale(3);
}
} */

.pitcher1_right {
  animation-name: pitcher1_right;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  transform-origin: 50% 0%;
}

@keyframes pitcher1_right {
  0% {
    transform: translate(500%, 200%);
  }

  20% {
    transform: translate(900%, 250%) rotate(90deg);
  }

  50% {
    transform: translate(1200%, 600%) rotate(240deg) scale(1.5);
  }

  75% {
    transform: translate(1300%, 1000%) rotate(340deg) scale(2.5);
  }

  100% {
    transform: translate(1000%, 1400%) rotate(390deg) scale(3);
  }
}

.pitcher2_straight {
  animation-name: pitcher2_straight;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes pitcher2_straight {
  0% {
    transform: translate(1000%, 200%);
  }

  100% {
    transform: translate(1000%, 1400%) scale(3);
  }
}

.pitcher2_left {
  animation-name: pitcher2_left;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  transform-origin: -10% 50%;
}

@keyframes pitcher2_left {
  0% {
    transform: translate(1000%, 200%);
  }

  25% {
    transform: translate(600%, 500%) rotate(-90deg) scale(1.5);
  }

  50% {
    transform: translate(700%, 800%) rotate(-240deg) scale(2);
  }

  75% {
    transform: translate(800%, 1100%) rotate(-340deg) scale(2.5);
  }

  100% {
    transform: translate(1100%, 1500%) rotate(-390deg) scale(3);
  }
}

.pitcher2_right {
  animation-name: pitcher2_right;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  transform-origin: 50% 0%;
}

@keyframes pitcher2_right {
  0% {
    transform: translate(1000%, 200%);
  }

  15% {
    transform: translate(1200%, 300%) rotate(90deg);
  }

  50% {
    transform: translate(1500%, 650%) rotate(240deg) scale(1.5);
  }

  75% {
    transform: translate(1300%, 1000%) rotate(340deg) scale(2.5);
  }

  100% {
    transform: translate(1000%, 1400%) rotate(390deg) scale(3);
  }
}

.pitcher3_straight {
  animation-name: pitcher3_straight;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes pitcher3_straight {
  0% {
    transform: translate(1240%, 200%);
  }

  100% {
    transform: translate(1000%, 1400%) scale(3);
  }
}

.pitcher3_left {
  animation-name: pitcher3_left;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  transform-origin: -10% 50%;
}

@keyframes pitcher3_left {
  0% {
    transform: translate(1240%, 200%);
  }

  25% {
    transform: translate(950%, 400%) rotate(-90deg) scale(1.5);
  }

  50% {
    transform: translate(800%, 650%) rotate(-240deg) scale(2);
  }

  75% {
    transform: translate(800%, 1100%) rotate(-340deg) scale(2.5);
  }

  100% {
    transform: translate(1100%, 1500%) rotate(-390deg) scale(3);
  }
}

.pitcher3_right {
  animation-name: pitcher3_right;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  transform-origin: 50% 0%;
}

@keyframes pitcher3_right {
  0% {
    transform: translate(1240%, 200%);
  }

  20% {
    transform: translate(1500%, 300%) rotate(90deg);
  }

  50% {
    transform: translate(1750%, 650%) rotate(240deg) scale(1.5);
  }

  75% {
    transform: translate(1500%, 1000%) rotate(340deg) scale(2.5);
  }

  100% {
    transform: translate(1000%, 1400%) rotate(390deg) scale(3);
  }
}

.pitcher4_straight {
  animation-name: pitcher4_straight;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes pitcher4_straight {
  0% {
    transform: translate(1500%, 200%);
  }

  100% {
    transform: translate(1000%, 1400%) scale(3);
  }
}

.pitcher4_left {
  animation-name: pitcher4_left;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  transform-origin: -10% 50%;
}

@keyframes pitcher4_left {
  0% {
    transform: translate(1500%, 200%);
  }

  25% {
    transform: translate(1200%, 400%) rotate(-90deg) scale(1.5);
  }

  50% {
    transform: translate(1000%, 650%) rotate(-240deg) scale(2);
  }

  75% {
    transform: translate(1000%, 1100%) rotate(-340deg) scale(2.5);
  }

  100% {
    transform: translate(1100%, 1500%) rotate(-390deg) scale(3);
  }
}

.pitcher4_right {
  animation-name: pitcher4_right;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  transform-origin: 30% -10%;
}

@keyframes pitcher4_right {
  0% {
    transform: translate(1500%, 200%);
  }

  20% {
    transform: translate(1700%, 350%) rotate(90deg);
  }

  50% {
    transform: translate(1900%, 700%) rotate(240deg) scale(1.5);
  }

  75% {
    transform: translate(1700%, 900%) rotate(340deg) scale(2.5);
  }

  100% {
    transform: translate(1000%, 1400%) rotate(390deg) scale(3);
  }
}

.pitcher5_straight {
  animation-name: pitcher5_straight;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes pitcher5_straight {
  0% {
    transform: translate(1900%, 200%);
  }

  100% {
    transform: translate(1000%, 1400%) scale(3);
  }
}

.pitcher5_straight {
  animation-name: pitcher5_left;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  transform-origin: -10% 50%;
}

@keyframes pitcher5_left {
  0% {
    transform: translate(1900%, 200%);
  }

  25% {
    transform: translate(1400%, 400%) rotate(-90deg) scale(1.3);
  }

  50% {
    transform: translate(1200%, 650%) rotate(-240deg) scale(2);
  }

  75% {
    transform: translate(1000%, 1100%) rotate(-340deg) scale(2.5);
  }

  100% {
    transform: translate(900%, 1500%) rotate(-390deg) scale(3);
  }
}

.pitcher5_straight {
  animation-name: pitcher5_right;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  transform-origin: 30% -10%;
}

@keyframes pitcher5_right {
  0% {
    transform: translate(2000%, 150%);
  }

  15% {
    transform: translate(2250%, 300%) rotate(90deg) scale(1.2);
  }

  45% {
    transform: translate(2200%, 700%) rotate(240deg) scale(1.5);
  }

  75% {
    transform: translate(1600%, 900%) rotate(340deg) scale(2.5);
  }

  100% {
    transform: translate(900%, 1400%) rotate(390deg) scale(3);
  }
}

.paused {
  animation-play-state: paused;
}

/* ---------------- SPLAT ANIMATIONS ------------------------*/

.zoom_in {
  animation-name: zoom_in;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}

@keyframes zoom_in {
  0% {
    scale: 0;
  }

  100% {
    scale: 1.5;
  }
}

.zoom_out {
  animation-name: zoom_out;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}

@keyframes zoom_out {
  0% {
    scale: 1;
  }

  100% {
    scale: 0;
  }
}
