body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  cursor: url(./images/baseball_cursor_65x65.png), auto;
}

img {
  width: 100%;
}

#screen {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100%;
  aspect-ratio: 16 / 9;
  width: 100%;
}

#game {
  grid-area: 1 / 1;
  overflow: hidden;
  display: grid;
  grid-template-columns: 10% / 10%;
  grid-template-rows: 100%;
}

#game_background {
  grid-area: 1 / 1;
  background-image: url(images/background_800x450.png);
  background-size: cover;
}
#game_elements {
  grid-area: 1 / 1;
  position: relative;
  overflow: hidden;
}

/* spil elementer */

#pitcher_1_container {
  width: 7%;
  position: absolute;
  translate: 300% 90%;
}
#pitcher_2_container {
  width: 7%;
  position: absolute;
  translate: 500% 80%;
}
#pitcher_3_container {
  width: 7%;
  position: absolute;
  translate: 700% 70%;
}
#pitcher_4_container {
  width: 7%;
  position: absolute;
  translate: 900% 80%;
}
#pitcher_5_container {
  width: 7%;
  position: absolute;
  translate: 1100% 90%;
}

#egg_container {
  width: 4%;
  position: absolute;
}

#toilet_paper_1_container {
  width: 4%;
  position: absolute;
}

#toilet_paper_2_container {
  width: 4%;
  position: absolute;
}

#tomato_1_container {
  width: 4%;
  position: absolute;
}

#tomato_2_container {
  width: 4%;
  position: absolute;
}

#baseball_1_container {
  width: 4%;
  position: absolute;
}

#baseball_2_container {
  width: 4%;
  position: absolute;
}

#baseball_3_container {
  width: 4%;
  position: absolute;
}

#game_foreground {
  grid-area: 1 / 1;
  background-image: url(svg/forgrund.svg);
  background-size: cover;
  position: relative;
  overflow: hidden;
}

#game_ui {
  grid-area: 1 / 1;
  position: relative;
}

/* ui-elementer */
#time_board {
  width: 7%;
  position: absolute;
  top: 0%;
  left: 4%;
}
#score_board {
  width: 23%;
  position: absolute;
  top: 69%;
  left: 11%;
}
#heart_1 {
  width: 4%;
  position: absolute;
  top: 0%;
  left: 80%;
}

#heart_2 {
  width: 4%;
  position: absolute;
  top: 0%;
  left: 85%;
}

#heart_3 {
  width: 4%;
  position: absolute;
  top: 0%;
  left: 90%;
}

/* -------------------------------------- Animationer ---------------------------------- */

.pitcher1_1 {
  animation-name: pitcher1_1;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes pitcher1_1 {
  0% {
    transform: translate(500%, 700%);
  }

  25% {
    transform: translate(625%, 1650%) scale(1.1);
  }

  50% {
    transform: translate(750%, 2600%) scale(1.4);
  }

  75% {
    transform: translate(875%, 3550%) scale(1.9);
  }

  100% {
    transform: translate(1000%, 4500%) scale(2.5);
  }
}

.pitcher1_2 {
  animation-name: pitcher1_2;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  transform-origin: 250% 0;
}

@keyframes pitcher1_2 {
  0% {
    transform: translate(500%, 700%);
  }

  25% {
    transform: translate(625%, 1525%) rotate(72deg) scale(1.1);
  }

  50% {
    transform: translate(750%, 2350%) rotate(calc(72deg * 2)) scale(1.4);
  }

  75% {
    transform: translate(875%, 3175%) rotate(calc(72deg * 3)) scale(1.9);
  }

  100% {
    transform: translate(1000%, 4000%) rotate(calc(72deg * 4)) scale(2.5);
  }
}

.paused {
  animation-play-state: paused;
}
