body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  cursor: url(./images/baseball_cursor_65x65.png) 60 10, auto;
  font-family: cursive;
}

img {
  width: 100%;
}

#screen {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100%;
  aspect-ratio: 16 / 9;
  width: 100%;
  z-index: 0;
}

#game_over {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100%;
  aspect-ratio: 16 / 9;
  width: 100%;
  z-index: 1;
  position: absolute;
  display: none;
  background-color: rgba(12, 66, 7);
  text-align: center;
  font-size: 200%;
  color: white
}

#game_over_btn {
  background-color: rgb(163, 32, 32);
  margin-left: 40%;
  margin-right:40%;
  padding-top: 3%;
  padding-bottom: 3%;
  border-radius: 50%;
}

#start {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100%;
  aspect-ratio: 16 / 9;
  width: 100%;
  z-index: 1;
  position: absolute;
  display: block;
  background-color: green;
  text-align: center;
  font-size: 200%;
}

#start_game_btn {
  background-color: yellow;
  margin-left: 40%;
  margin-right:40%;
  padding-top: 3%;
  padding-bottom: 3%;
  border-radius: 50%;
}

#level_complete {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100%;
  aspect-ratio: 16 / 9;
  width: 100%;
  z-index: 1;
  position: absolute;
  display: none;
  background-color: green;
  text-align: center;
  font-size: 200%;
}

#level_complete_btn {
  background-color: yellow;
  margin-left: 40%;
  margin-right:40%;
  padding-top: 3%;
  padding-bottom: 3%;
  border-radius: 50%;
}

#game {
  grid-area: 1 / 1;
  overflow: hidden;
  display: grid;
  grid-template-columns: 10% / 10%;
  grid-template-rows: 100%;
}

#game_background {
  grid-area: 1 / 1;
  background-image: url(images/background.png);
  background-size: cover;
}

#game_elements {
  grid-area: 1 / 1;
  position: relative;
  overflow: hidden;
}

/* Game elements (ID's) */
.big_container {
  width: 7%;
  position: absolute;
  z-index: 1;
}

.small_container {
  width: 4%;
  position: absolute;
  transform: translateX(-200%);
  animation-duration: 4s;
  z-index: 1;
}

#pitcher_1_container {
  translate: 300% 90%;
}

#pitcher_2_container {
  translate: 500% 80%;
}

#pitcher_3_container {
  translate: 700% 70%;
}
#pitcher_4_container {
  translate: 900% 80%;
}

#pitcher_5_container {
  translate: 1100% 90%;
}

.splat_sprite {
  scale: 0;
  position: absolute;
  top: 0;
  left: 0;
}

.broken_heart {
  filter: grayscale(75%) blur(0.5px);
}

#game_foreground {
  grid-area: 1 / 1;
  /* background-image: url(svg/forgrund.svg); */
  background-size: cover;
  position: relative;
  overflow: hidden;
}

#game_ui {
  grid-area: 1 / 1;
  position: relative;
  z-index: 0;
}

/* ui-elementer */
#time_board {
  top: 0%;
  left: 7%;
}
#score_board {
  top: 0%;
  left: 0%;
}

#score {
  padding-left: 50%;
  font-size: 700%;
  width: 3%;
}

#heart_1 {
  top: 0%;
  left: 80%;
}

#heart_2 {
  top: 0%;
  left: 85%;
}

#heart_3 {
  top: 0%;
  left: 90%;
}

/* -------------------------------------- Pitch animations ---------------------------------- */

.pitcher_straight_1 {
  animation-name: pitcher_straight_1;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-delay: 3s;
}

@keyframes pitcher_straight_1 {
  0% {
    transform: translate(500%, 200%);
  }

  100% {
    transform: translate(1000%, 1400%) scale(3);
  }
}

.pitcher_left_1 {
  animation-name: pitcher_left_1;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  transform-origin: -10% 50%;
  animation-delay: 2s;
}

@keyframes pitcher_left_1 {
  0% {
    transform: translate(500%, 200%);
  }

  25% {
    transform: translate(300%, 500%) rotate(-90deg) scale(1.5);
  }

  50% {
    transform: translate(400%, 800%) rotate(-240deg) scale(2);
  }

  75% {
    transform: translate(650%, 1100%) rotate(-340deg) scale(2.5);
  }

  100% {
    transform: translate(1000%, 1400%) rotate(-390deg) scale(3);
  }
}

.pitcher_right_1 {
  animation-name: pitcher_right_1;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  transform-origin: 50% 0%;
  animation-delay: 5s;
}

@keyframes pitcher_right_1 {
  0% {
    transform: translate(500%, 200%);
  }

  20% {
    transform: translate(900%, 250%) rotate(90deg);
  }

  50% {
    transform: translate(1200%, 600%) rotate(240deg) scale(1.5);
  }

  75% {
    transform: translate(1300%, 1000%) rotate(340deg) scale(2.5);
  }

  100% {
    transform: translate(1000%, 1400%) rotate(390deg) scale(3);
  }
}

.pitcher_straight_2 {
  animation-name: pitcher_straight_2;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-delay: 3s;
}

@keyframes pitcher_straight_2 {
  0% {
    transform: translate(1000%, 200%);
  }

  100% {
    transform: translate(1000%, 1400%) scale(3);
  }
}

.pitcher_left_2 {
  animation-name: pitcher_left_2;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  transform-origin: -10% 50%;
  animation-delay: 6s;
}

@keyframes pitcher_left_2 {
  0% {
    transform: translate(1000%, 200%);
  }

  25% {
    transform: translate(600%, 500%) rotate(-90deg) scale(1.5);
  }

  50% {
    transform: translate(700%, 800%) rotate(-240deg) scale(2);
  }

  75% {
    transform: translate(800%, 1100%) rotate(-340deg) scale(2.5);
  }

  100% {
    transform: translate(1100%, 1500%) rotate(-390deg) scale(3);
  }
}

.pitcher_right_2 {
  animation-name: pitcher_right_2;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  transform-origin: 50% 0%;
  animation-delay: 1s;
}

@keyframes pitcher_right_2 {
  0% {
    transform: translate(1000%, 200%);
  }

  15% {
    transform: translate(1200%, 300%) rotate(90deg);
  }

  50% {
    transform: translate(1500%, 650%) rotate(240deg) scale(1.5);
  }

  75% {
    transform: translate(1300%, 1000%) rotate(340deg) scale(2.5);
  }

  100% {
    transform: translate(1000%, 1400%) rotate(390deg) scale(3);
  }
}

.pitcher_straight_3 {
  animation-name: pitcher_straight_3;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-delay: 5s;
}

@keyframes pitcher_straight_3 {
  0% {
    transform: translate(1240%, 200%);
  }

  100% {
    transform: translate(1000%, 1400%) scale(3);
  }
}
.pitcher_left_3 {
  animation-name: pitcher_left_3;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  transform-origin: -10% 50%;
  animation-delay: 2s;
}

@keyframes pitcher_left_3 {
  0% {
    transform: translate(1240%, 200%);
  }

  25% {
    transform: translate(950%, 400%) rotate(-90deg) scale(1.5);
  }

  50% {
    transform: translate(800%, 650%) rotate(-240deg) scale(2);
  }

  75% {
    transform: translate(800%, 1100%) rotate(-340deg) scale(2.5);
  }

  100% {
    transform: translate(1100%, 1500%) rotate(-390deg) scale(3);
  }
}

.pitcher_right_3 {
  animation-name: pitcher_right_3;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  transform-origin: 50% 0%;
  animation-delay: 3s;
}

@keyframes pitcher_right_3 {
  0% {
    transform: translate(1240%, 200%);
  }

  20% {
    transform: translate(1500%, 300%) rotate(90deg);
  }

  50% {
    transform: translate(1750%, 650%) rotate(240deg) scale(1.5);
  }

  75% {
    transform: translate(1500%, 1000%) rotate(340deg) scale(2.5);
  }

  100% {
    transform: translate(1000%, 1400%) rotate(390deg) scale(3);
  }
}

.pitcher_straight_4 {
  animation-name: pitcher_straight_4;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-delay: 8s;
}

@keyframes pitcher_straight_4 {
  0% {
    transform: translate(1500%, 200%);
  }

  100% {
    transform: translate(1000%, 1400%) scale(3);
  }
}

.pitcher_left_4 {
  animation-name: pitcher_left_4;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  transform-origin: -10% 50%;
  animation-delay: 4s;
}

@keyframes pitcher_left_4 {
  0% {
    transform: translate(1500%, 200%);
  }

  25% {
    transform: translate(1200%, 400%) rotate(-90deg) scale(1.5);
  }

  50% {
    transform: translate(1000%, 650%) rotate(-240deg) scale(2);
  }

  75% {
    transform: translate(1000%, 1100%) rotate(-340deg) scale(2.5);
  }

  100% {
    transform: translate(1100%, 1500%) rotate(-390deg) scale(3);
  }
}

.pitcher_right_4 {
  animation-name: pitcher_right_4;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  transform-origin: 30% -10%;
  animation-delay: 1s;
}

@keyframes pitcher_right_4 {
  0% {
    transform: translate(1500%, 200%);
  }

  20% {
    transform: translate(1700%, 350%) rotate(90deg);
  }

  50% {
    transform: translate(1900%, 700%) rotate(240deg) scale(1.5);
  }

  75% {
    transform: translate(1700%, 900%) rotate(340deg) scale(2.5);
  }

  100% {
    transform: translate(1000%, 1400%) rotate(390deg) scale(3);
  }
}

.pitcher_straight_5 {
  animation-name: pitcher_straight_5;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-delay: 3s;
}

@keyframes pitcher_straight_5 {
  0% {
    transform: translate(1900%, 200%);
  }

  100% {
    transform: translate(1000%, 1400%) scale(3);
  }
}

.pitcher_left_5 {
  animation-name: pitcher_left_5;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  transform-origin: -10% 50%;
  animation-delay: 2s;
}

@keyframes pitcher_left_5 {
  0% {
    transform: translate(1900%, 200%);
  }

  25% {
    transform: translate(1400%, 400%) rotate(-90deg) scale(1.3);
  }

  50% {
    transform: translate(1200%, 650%) rotate(-240deg) scale(2);
  }

  75% {
    transform: translate(1000%, 1100%) rotate(-340deg) scale(2.5);
  }

  100% {
    transform: translate(900%, 1500%) rotate(-390deg) scale(3);
  }
}

.pitcher_right_5 {
  animation-name: pitcher_right_5;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  transform-origin: 30% -10%;
  animation-delay: 5s;
}

@keyframes pitcher_right_5 {
  0% {
    transform: translate(2000%, 150%);
  }

  15% {
    transform: translate(2250%, 300%) rotate(90deg) scale(1.2);
  }

  45% {
    transform: translate(2200%, 700%) rotate(240deg) scale(1.5);
  }

  75% {
    transform: translate(1600%, 900%) rotate(340deg) scale(2.5);
  }

  100% {
    transform: translate(900%, 1400%) rotate(390deg) scale(3);
  }
}

/* ---------------- MORE ANIMATIONS ------------------------*/

.zoom_in {
  animation-name: zoom_in;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}

@keyframes zoom_in {
  0% {
    scale: 0;
  }

  100% {
    scale: 1.5;
  }
}

.zoom_out {
  animation-name: zoom_out;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}

@keyframes zoom_out {
  0% {
    scale: 1;
  }

  100% {
    scale: 0;
  }
}

.ball_hit {
  animation-name: ball_hit;
  animation-duration: 2.5s;
  animation-timing-function: ease-out;
  animation-fill-mode: backwards;
  animation-iteration-count: 1;
}

@keyframes ball_hit {
  100% {
    transform: translateY(-1000%) scale(0.5);
  }
}

.paused {
  animation-play-state: paused;
}

.pulse {
  animation-name: pulse;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

